
<div class="page-header" style="font-size: 175%; line-height: 150%; text-align: center; font-family: 'Open Sans'">
  Multiple people using a single
  <strong>Twitter</strong> <img src="/images/twitter.png" />
  account
  or
  <strong>Facebook</strong> <img src="/images/facebook.png" />
  page?
  <br />
  Use <span style="font-family: 'Lobster';">TeamStatus</span> to
  <span style="border-bottom: 3px solid #F6C5F4">keep track of who's posting what</span>
</div>

<div style="width: 60%; margin: 0 auto; margin-bottom: 10px; box-shadow: #aaa 0 0 5px">
  <div id="tourCarousel" style="margin-bottom: 0" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="/tour/keep-track.png">
        <div class="carousel-caption">
          <h4>Keep track of who's posting what</h4>
          <p>Keep track of who's posting what on shared Twitter and Facebook accounts</p>
        </div>
      </div> 
      <div class="item">
        <img src="/tour/comments.png">
        <div class="carousel-caption">
          <h4>Leave comments</h4>
          <p>Leave private comments on posts and tweets</p>
        </div>
      </div>    
      <div class="item">
        <img src="/tour/accounts.png">
        <div class="carousel-caption">
          <h4>Add multiple accounts</h4>
          <p>Add any number of Twitter and Facebook accounts and switch between them instantly</p>
        </div>
      </div>         
      <div class="item">
        <img src="/tour/grant.png" >
        <div class="carousel-caption">
          <h4>Grant access</h4>
          <p>Allow others to post to Twitter and Facebook accounts without giving them the password</p>
        </div>
      </div>      
      <div class="item">
        <img src="/tour/schedule.png" >
        <div class="carousel-caption">
          <h4>Schedule tweets and posts</h4>
          <p>Schedule tweets and posts for the future including links and photos</p>
        </div>      
      </div>
    </div>
    <a class="left carousel-control" href="#tourCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#tourCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>

<div style="text-align: center">
  <a class="btn btn-primary btn-large" data-toggle="modal" data-target="#modal" href="javascript:;" onclick="$('#modal').load('/accounts/new')">
    Sign up free
  </a>
  <a class="btn btn-large" data-toggle="modal" data-target="#modal" href="javascript:;" onclick="$('#modal').load('/accounts/sign_in')">
    Sign in
  </a>  
</div>